# Francisco Javier Concejo Iglesias

# Actividad 1. Extracción de Entidades

# Análisis de Información no Estructurada

##  1. En esta actividad se le facilitan dos ficheros de texto, uno en español y otro en inglés. Son los ficheros hotel.csv y esp.txt.

In [1]:
import pandas as pd
import spacy
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from spacy import displacy
from IPython.display import display_html
from itertools import chain,cycle

nlp= spacy.load('es_core_news_lg')

def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

import warnings
warnings.filterwarnings("ignore")

In [2]:
esp="C:/Users/javoc/OneDrive/Escritorio/MASTER/AnalisisDeInformacionNoEstructurada/Practica1/esp.txt"
esp = open(esp, "r", encoding="utf-8") .read()

hotel=pd.read_csv("C:/Users/javoc/OneDrive/Escritorio/MASTER/AnalisisDeInformacionNoEstructurada/Practica1/hotel.csv")
hotel['text']=hotel['text'].str.lower()

### Explicación

En primer lugar cargamos los dos ficheros de texto. He decidido convertir todos los documentos del fichero 'hotel' a minúsculas puesto que se pide en una actividad posterior pero considero que lo más lógico es realizar esta tarea en la carga y tratamiento de datos inicial.

## 2.  Lea el primer fichero, hotel.csv en un dataframe y realice las labores necesarias para obtener las matrices BOW y Tf-idf

In [3]:
hotel=pd.DataFrame(hotel)
lista_hotel=list(hotel['text'])

#### BOW

In [4]:
BOW_vectorizer = CountVectorizer()
BOW_array = BOW_vectorizer.fit_transform(lista_hotel).toarray()
vocab_BOW = BOW_vectorizer.get_feature_names()
BOW=pd.DataFrame(BOW_array, columns=vocab_BOW)
BOW

,10,100,104,109,11,12,15,150,200,2012,...,área,áreas,él,época,éste,óptimas,última,única,único,únicos
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Tf-idf

In [5]:
TFIDF_vectorizer = TfidfVectorizer()
TFIDF_array=TFIDF_vectorizer.fit_transform(lista_hotel).toarray()
vocab_TFIDF = TFIDF_vectorizer.get_feature_names()
TFIDF=pd.DataFrame(TFIDF_array, columns=vocab_TFIDF)
TFIDF

,10,100,104,109,11,12,15,150,200,2012,...,área,áreas,él,época,éste,óptimas,última,única,único,únicos
0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.11516,0.0
1,0.044032,0.0,0.0,0.0,0.054754,0.054754,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
2,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
3,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
4,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
196,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.08098,0.0
197,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
198,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
199,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0

### Explicación

Para poder realizar las matrices BOW y Tfidf he tenido que transformar el texto del hotel en una lista la cual contiene todos los comentarios de las reseñas. Cada elemento de esta lista representa un comentario o documento del fichero "hotel". 

Las filas de la matriz BOW representan cada uno de los documentos y las columnas cada uno de los términos. El valor de las celdas representará el número de veces que un término aparece en ese documento. Por ejemplo, el término "10" no aparece en el documento 0 (primer comentario) pero si en el documento 1 (segundo comentario) una vez. Importante destacar que el BOW no tiene en cuenta el orden o secuencia de las palabras.

La matriz Tfidf sigue la misma estrucutura que la de BOW. Sin embargo, los valores de las celdas de esta matriz no indican el número de veces que aparece el término en el documento ya que este tipo de modelo de lenguaje soluciona el problema que tiene el BOW de dar mas importancia a aquellos términos que son más repetidos con respecto a otros términos que no son tan repetidos pero si pueden ser relevantes. Por eso, el modelo Tfidf realiza una normalización. Los valores de las celdas son los pesos de cada término, los cuales indican la frecuencia de ese término en ese documento con respecto a la frecuencia del mismo término en el corpus completo.

## 3.  Para estas matrices, utilice únicamente los 20 tokens más frecuentes y emplee la conversión de todos los términos a minúsculas

In [6]:
total_BOW = pd.DataFrame(BOW.sum(axis=0),columns=['Apariciones'])
total_BOW = total_BOW.sort_values(by=['Apariciones'], ascending=False)

total_tfidf = pd.DataFrame(TFIDF.mean(axis=0),columns=['Apariciones'])
total_tfidf = total_tfidf.sort_values(by=['Apariciones'], ascending=False)

display_side_by_side(total_BOW.head(20),total_tfidf.head(20), titles=['BOW','Tfidf'])

,Apariciones
la,466
de,457
el,419
que,329
en,317
muy,316
es,246
hotel,222
un,188
del,153
con,142
no,134
para,119
las,111
lo,109
los,108
una,107
excelente,102
personal,91
desayuno,88
,Apariciones
la,0.092804
de,0.090195
el,0.084936
muy,0.080675
en,0.068240
que,0.067184
es,0.065213
hotel,0.053790
un,0.050794
del,0.043219
con,0.042649
excelente,0.039632
para,0.037231
las,0.035651
personal,0.034959
no,0.034890
los,0.034629
una,0.034600
todo,0.034538
lo,0.033881

### Explicación

Para poder obtener los 20 tokens más frecuentes en las dos matrices he decido crear dos dataframes puesto que facilitaba a la hora de realizar el análisis. El motivo por el que no he utilizado el parámetro max_features es porque esté ordenaba los tokens por orden alfabético y no por frecuencia. El método para realizar la frecuencia en la matriz BOW ha sido mediante el acumulado total de apariciones de cada término. Por otro lado, para la matriz Tfidf esto se ha hecho con la media.

Para ambas matrices la mayoría de los términos más repetidos son los mismos. Se pueden observar algunas excepciones en el orden de frecuencia. Por ejemplo, para la matriz BOW el término "excelente" se encuentra en la posición 18 mientras que para la matriz Tfidf se encuentra en la 12. La palabra "desayuno" se encuentra entre el top 20 tokens más frecuentes para la matiz BOW mientras que para la matriz Tfidf no. La gran mayoría de estos términos son stop-words.

## 3.1 Ejercicio extra. Obtención de los 20 tokens más frecuentes sin tener en cuenta las stop-words

In [7]:
stopwords = nlp.Defaults.stop_words
lista_hotel_stopwords=list(hotel["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)])))

BOW_vectorizer_stopwords = CountVectorizer()
BOW_array_stopwords = BOW_vectorizer_stopwords.fit_transform(lista_hotel_stopwords).toarray()
vocab_BOW_stopwords = BOW_vectorizer_stopwords.get_feature_names()
BOW_20_stopwords=pd.DataFrame(BOW_array_stopwords, columns=vocab_BOW_stopwords)
BOW_20_stopwords
total_BOW_stopwords = pd.DataFrame(BOW_20_stopwords.sum(axis=0),columns=['Apariciones'])
total_BOW_stopwords = total_BOW_stopwords.sort_values(by=['Apariciones'], ascending=False)

Tfidf_vectorizer_stopwords = TfidfVectorizer()
Tfidf_array_stopwords = Tfidf_vectorizer_stopwords.fit_transform(lista_hotel_stopwords).toarray()
vocab_Tfidf_stopwords = Tfidf_vectorizer_stopwords.get_feature_names()
Tfidf_20_stopwords=pd.DataFrame(Tfidf_array_stopwords, columns=vocab_Tfidf_stopwords)
Tfidf_20_stopwords
total_Tfidf_stopwords = pd.DataFrame(Tfidf_20_stopwords.sum(axis=0),columns=['Apariciones'])
total_Tfidf_stopwords = total_Tfidf_stopwords.sort_values(by=['Apariciones'], ascending=False)

display_side_by_side(total_BOW_stopwords.head(20),total_Tfidf_stopwords.head(20), titles=['BOW','Tfidf'])

,Apariciones
hotel,222
excelente,102
personal,91
desayuno,88
servicio,68
habitaciones,62
atención,61
ubicación,40
habitación,34
asunción,33
restaurante,31
calidad,31
comida,30
lugar,26
habitacion,24
agradable,24
atencion,23
decoración,23
noche,23
bueno,22
,Apariciones
hotel,13.002121
excelente,9.382815
personal,8.336474
desayuno,7.826642
servicio,7.489137
atención,6.729871
habitaciones,6.527201
ubicación,5.133121
calidad,4.676914
asunción,4.325351
comida,4.005104
habitación,3.894384
recomendable,3.703633
restaurante,3.598384
atencion,3.578911
lugar,3.558588
amable,3.429200
decoración,3.414213
agradable,3.396650
ubicado,3.230710

### Explicación

He decidido añadir este ejercicio extra en el cual calculo los 20 tokens más frecuentes sin tener en cuenta los stop-words. Como se podía observar, estos eran los más frecuentes en el texto y no eran tan representativos a la hora de obtener una visión general de las opiniones de los clientes. EL problema que he podido detectar es que este código no es del todo óptimo puesto que se ve afectado por las faltas de ortografía de las reseñas. Es decir, hay varios tokens idénticos que se repiten en ambas listas puesto que no están escritos de la misma manera. Por ejemplo, "atención" o "habitación" se repiten porque ambos están escritos con tilde y sin tilde y el código los detecta como palabras distintas. Aún así, se pueden obtener unas ideas generales:

- Los clientes prestan una gran atención a la decoración, habitaciones, ubicación, personal o comida. Esto podría ayudar al director del hotel para centrarse en estos aspectos y mejorar la experiencia del cliente.
- La experiencia de los usuarios ha sido buena puesto que no aparecen términos negativos como "mal" o "peor" y si positivos como "excelente" o "agradable".

## 4.  Imprima las matrices en pantalla de forma fácilmente legible. Las columnas deben estar encabezadas por el término correspondiente, y en cada fila de la matriz se representará uno de los documentos contenidos en el CSV

#### BOW

In [8]:
BOW_vectorizer = CountVectorizer(max_features=20)
BOW_array = BOW_vectorizer.fit_transform(lista_hotel).toarray()
vocab_BOW = BOW_vectorizer.get_feature_names()
BOW_20=pd.DataFrame(BOW_array, columns=vocab_BOW)
BOW_20

,con,de,del,desayuno,el,en,es,excelente,hotel,la,las,lo,los,muy,no,para,personal,que,un,una
0,0,1,0,0,7,2,5,1,2,2,0,1,0,1,0,1,0,2,3,2
1,4,17,4,0,11,8,4,0,4,19,5,4,3,2,6,2,1,16,4,2
2,0,4,0,0,2,1,0,0,1,1,1,0,0,1,0,1,0,3,0,1
3,0,2,0,0,1,1,1,0,0,3,0,1,0,0,0,0,0,2,1,1
4,5,20,6,0,16,7,1,0,6,25,4,5,2,2,14,8,2,34,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,1,0,0,0,1,0,1,0,0,0,0,1,3,0,0,2,0,0,0
196,2,6,3,1,6,1,1,3,1,6,0,3,1,0,0,2,2,4,1,3
197,0,4,0,1,0,0,0,1,0,0,0,0,0,5,0,0,1,0,0,0
198,1,3,2,0,3,0,1,0,1,4,0,1,1,0,0,0,0,3,0,0
199,0,2,0,0,1,0,1,0,1,5,1,0,1,0,0,0,1,1,0,0

#### Tf-idf

In [9]:
TFIDF_vectorizer = TfidfVectorizer(max_features=20)
TFIDF_array=TFIDF_vectorizer.fit_transform(lista_hotel).toarray().round(2)
vocab_TFIDF = TFIDF_vectorizer.get_feature_names()
TFIDF_20=pd.DataFrame(TFIDF_array, columns=vocab_TFIDF)
TFIDF_20

,con,de,del,desayuno,el,en,es,excelente,hotel,la,las,lo,los,muy,no,para,personal,que,un,una
0,0.00,0.08,0.00,0.00,0.59,0.18,0.51,0.13,0.19,0.16,0.00,0.13,0.00,0.09,0.00,0.14,0.00,0.20,0.33,0.28
1,0.14,0.42,0.15,0.00,0.28,0.21,0.12,0.00,0.11,0.47,0.20,0.16,0.12,0.05,0.26,0.08,0.04,0.48,0.13,0.08
2,0.00,0.58,0.00,0.00,0.30,0.16,0.00,0.00,0.17,0.15,0.23,0.00,0.00,0.16,0.00,0.24,0.00,0.54,0.00,0.25
3,0.00,0.36,0.00,0.00,0.19,0.20,0.23,0.00,0.00,0.55,0.00,0.30,0.00,0.00,0.00,0.00,0.00,0.45,0.25,0.31
4,0.11,0.30,0.13,0.00,0.25,0.12,0.02,0.00,0.11,0.38,0.10,0.12,0.05,0.03,0.38,0.20,0.05,0.63,0.10,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.26,0.18,0.00,0.00,0.00,0.20,0.00,0.28,0.00,0.00,0.00,0.00,0.30,0.59,0.00,0.00,0.58,0.00,0.00,0.00
196,0.17,0.37,0.27,0.09,0.38,0.07,0.08,0.28,0.07,0.37,0.00,0.30,0.10,0.00,0.00,0.20,0.19,0.30,0.08,0.31
197,0.00,0.56,0.00,0.21,0.00,0.00,0.00,0.21,0.00,0.00,0.00,0.00,0.00,0.74,0.00,0.00,0.22,0.00,0.00,0.00
198,0.17,0.36,0.36,0.00,0.38,0.00,0.15,0.00,0.14,0.49,0.00,0.20,0.20,0.00,0.00,0.00,0.00,0.45,0.00,0.00
199,0.00,0.31,0.00,0.00,0.16,0.00,0.19,0.00,0.18,0.77,0.25,0.00,0.25,0.00,0.00,0.00,0.24,0.19,0.00,0.00

### Explicación

Ploteamos ambas matrices con los 20 tokens más frecuentes. Esto lo realizamos gracias al parámetro "max_features" en el vectorizer respectivo de cada una. Sin embargo, esté parametro no ordena de mayor a menor en cuanto a apariciones sino que lo hace por orden alfabético. Para poder realizar las matrices, necesitamos obtener dos cosas fundamentales. En primer lugar el array, el cual nos va a determinar la frecuencia de aparación de cáda término. En segundo lugar, los términos los cuales vamos a determinar su frecuencia con la función "get_feature_names". Una vez obtenemos ambos, construimos un dataframe y lo visualizamos. He decidido aplicar la función de redondeo para la matriz Tfidf puesto que los valores aparecían con muchos decimales y no me permitía observar todos los términos a la vez

## 5.  A continuación, lea el fichero esp.txt y obtenga las entidades incluidas en dicho texto.

In [10]:
esp_nlp=nlp(esp)
for sent in esp_nlp.sents:
    print(sent.text)

Cuando los cines parecen recuperar su músculo, llega a las salas de España la película "Los Estados Unidos contra Billie Holiday", el desalentador retrato del director Lee Daniels sobre la persecución del Gobierno Federal de Estados Unidos a la gran cantante de jazz desde 1947 hasta su muerte en 1959 a la edad de 44 años.
El título de la cinta toma como referencia una frase de la artista, que ingresó en prisión durante un año por un cargo de posesión de narcóticos en el apogeo de su carrera: El caso se llama "Los Estados Unidos de América contra Billie Holiday".
Está basado en un capítulo del libro "Tras el grito"

In [11]:
entidades=[(ent.text, ent.label_) for ent in esp_nlp.ents]
entidades

[('España', 'LOC'),
 ('Los Estados Unidos', 'LOC'),
 ('Billie Holiday', 'MISC'),
 ('Lee Daniels', 'PER'),
 ('Gobierno Federal', 'LOC'),
 ('Estados Unidos', 'LOC'),
 ('El título de la cinta', 'MISC'),
 ('Los Estados Unidos de América', 'LOC'),
 ('Billie Holiday', 'MISC')]

### Explicación

En primer lugar generamos el doc con la función nlp sobre nuestro texto en español. La extracción de entidades se realizará sobre este. Posteriormente, obtenemos las sentencias de nuestro texto con un bucle for el cual recorre cada uno de los elementos de nuestro doc y aplica la función "sents" para poder obtener las sentencias. Finalmente, estraemos las entidades del texto con otro bucle for el cual está mas abreviado el cual va a recorrer cada uno de los términos de nuestro texto y va a obtener el término con la función "text" y la etiqueta de este con la función "label".

## 6. Liste en pantalla las entidades obtenidas, texto de la entidad y categoría correspondiente. Utilice la opción que prefiera para listar los resultados

In [12]:
for sent in esp_nlp.sents:
    displacy.render(sent, style='ent', jupyter=True)

In [13]:
print(spacy.explain('MISC'))
print(spacy.explain('LOC'))
print(spacy.explain('PER'))

Miscellaneous entities, e.g. events, nationalities, products or works of art
Non-GPE locations, mountain ranges, bodies of water
Named person or family.

## 7.  Comente los resultados obtenidos en la extracción de entidades. En un entorno profesional, ¿Haría algo para mejorarlos? ¿Lo considera necesario?

Ploteamos nuestro texto con cada una de las entidades que hay y su categoría correspondiente. He decido realizarlo de esta manera puesto que es más visual y considero que es más fácil a la hora de realizar un análisis. Como se puede observar, obtenemos un total de 9 entidades clasificadas en 3 tipos (Localizaciónes, Misceláneos y Personas). Me gustaría resaltar 3 aspectos de mejora:
1. Identificar las fechas
2. Identificar bien las organizaciones ya que una de ellas es "El Gobierno Federal de Estados Unidos" pero lo identifica como localización y por separado.
3. Identificar bien a las personas ya que Billie Holiday es una y lo identifica como Miscelánea.
4. Identificar los números. (Ejemplo: 44 años)

Para finalizar, si que considero necesario mejorar estos aspectos mencionados para poder aumentar la precisión y que nos ayude a sacar más información. En este caso, no influye tanto el no identificar los aspectos mencionados puesto que es un texto pequeño y se pueden identificar a ojo. Sin embargo, la extracción de las entidades de un texto de más de 1000 palabras no se podría realizar a ojo y necesitaríamos de un código mejorado que nos ayudase a obtener estas entidades. Para una empresa, considero que esto es fundamental.